<header class="header navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="nav navbar-header">
          <img class="navbar-brand header__brand" src="../assets/logo.png">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#social-bar" aria-expanded="false" aria-controls="social-bar">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
          </button>
        </div>

        <div id="social-bar" class="navbar-collapse collapse navbar-right social-bar">
          <ul class="nav navbar-nav">
            <li><a href="#rss">
              <svg class="icon icon-rss social-bar__icon">
                <use xlink:href="#icon-rss"></use>
              </svg>
            </a></li>
            <li><a href="#fb">
               <svg class="icon icon-facebook social-bar__icon">
                 <use xlink:href="#icon-facebook"></use>
               </svg>
            </a></li>
            <li><a href="#twitter">
              <svg class="icon icon-twitter social-bar__icon">
                <use xlink:href="#icon-twitter"></use>
              </svg>
            </a></li>
            <li><a href="#linkedin">
              <svg class="icon icon-linkedin2 social-bar__icon">
                <use xlink:href="#icon-linkedin2"></use>
              </svg>
            </a></li>
          </ul>
        </div>
      </div>
    </header>
