<footer class="footer">
  <div class="footer__container">
    <div class="footer__rights">
      <p class="no-margin">2013 Web world. All rights reserved. Theme by cssautther</p>
    </div>
    <div class="footer__social" class="social-links">
      <a href="#rss" class="social-link">
              <svg class="icon icon-rss social-bar__icon">
                <use xlink:href="#icon-rss"></use>
              </svg>
      </a>
      <a href="#fb" class="social-link">
             <svg class="icon icon-facebook social-bar__icon">
               <use xlink:href="#icon-facebook"></use>
             </svg>
      </a>
      <a href="#twitter" class="social-link">
              <svg class="icon icon-twitter social-bar__icon">
                <use xlink:href="#icon-twitter"></use>
              </svg>
            </a>
      <a href="#linkedin" class="social-link">
              <svg class="icon icon-linkedin2 social-bar__icon">
                <use xlink:href="#icon-linkedin2"></use>
              </svg>
      </a>
    </div>
  </div>
</footer>
