<div class="menu">
  <div class="menu__container">
    <div class="menu__navigation">
      <div class="menu__link-row">
        <a routerLink="/home" class="menu__link">HOME</a>
        <a routerLink="/aboutus" class="menu__link">ABOUT US</a>
        <a href="#service" class="menu__link">SERVICE</a>
        <a href="#pages" class="menu__link">PAGES</a>
        <a href="#blog" class="menu__link">BLOG</a>
        <a href="#contactus" class="menu__link">CONTACT US</a>
      </div>
    </div>
    <div class="menu__search">
      <input type="text" class="form-control search__field" placeholder="Search Something">
    </div>
  </div>
</div>
